In [ ]:
from tqsdk import TqApi, TqSim, TqAuth, TqKq
import datetime
import time
import pandas as pd
tianqin = TqApi(TqKq(), auth=TqAuth('xxxx', 'xxxxx'))

在使用天勤量化之前，默认您已经知晓并同意以下免责条款，如果不同意请立即停止使用：https://www.shinnytech.com/blog/disclaimer/

2025-10-26 20:46:23 -     INFO - 通知 : 与 wss://free-api.shinnytech.com/t/nfmd/front/mobile 的网络连接已建立
2025-10-26 20:46:23 -     INFO - 通知 x6504368: 与 wss://otg-sim.shinnytech.com/trade 的网络连接已建立
2025-10-26 20:46:23 -     INFO - 通知 x6504368: 登录成功

In [19]:
datetime.datetime.strptime(tianqin.get_quote("SHFE.rb2512").datetime.split('.')[0], '%Y-%m-%d %H:%M:%S')

datetime.datetime(2025, 10, 24, 22, 59, 59)

In [45]:
now = datetime.datetime.now()
now

datetime.datetime(2025, 10, 26, 21, 18, 27, 547339)

In [46]:
now.second

27

In [9]:
def trans_time(ts):
    try:
        from datetime import datetime
        timestamp_s = ts / 1e9
        dt_object = datetime.fromtimestamp(timestamp_s)
        formatted_time = dt_object.strftime("%Y-%m-%d %H:%M:%S")
        return formatted_time
    except:
        return ts

data = tianqin.get_kline_serial('SHFE.rb2512', duration_seconds=60, data_length=10000)
df = data.copy()
df['datetime'] = df['datetime'].apply(trans_time)
df = df[df['datetime']>=df[df['datetime'].str.contains(" 21:00")]['datetime'].iloc[0]]
df['datetime'] = pd.to_datetime(df['datetime'])
df

,datetime,id,open,high,low,close,volume,open_oi,close_oi,symbol,duration
340,2025-09-08 21:00:00,60795.0,3112.0,3112.0,3108.0,3109.0,7.0,7237.0,7239.0,SHFE.rb2512,60
341,2025-09-08 21:01:00,60796.0,3109.0,3109.0,3109.0,3109.0,0.0,7239.0,7239.0,SHFE.rb2512,60
342,2025-09-08 21:02:00,60797.0,3109.0,3109.0,3109.0,3109.0,0.0,7239.0,7239.0,SHFE.rb2512,60
343,2025-09-08 21:03:00,60798.0,3109.0,3109.0,3107.0,3107.0,2.0,7239.0,7239.0,SHFE.rb2512,60
344,2025-09-08 21:04:00,60799.0,3107.0,3107.0,3105.0,3105.0,3.0,7239.0,7239.0,SHFE.rb2512,60
...,...,...,...,...,...,...,...,...,...,...,...
9995,2025-10-24 22:55:00,70450.0,3056.0,3057.0,3056.0,3057.0,2.0,6252.0,6251.0,SHFE.rb2512,60
9996,2025-10-24 22:56:00,70451.0,3057.0,3057.0,3056.0,3056.0,1.0,6251.0,6251.0,SHFE.rb2512,60
9997,2025-10-24 22:57:00,70452.0,3056.0,3056.0,3056.0,3056.0,0.0,6251.0,6251.0,SHFE.rb2512,60
9998,2025-10-24 22:58:00,70453.0,3056.0,3057.0,3056.0,3057.0,1.0,6251.0,6250.0,SHFE.rb2512,60
9999,2025-10-24 22:59:00,70454.0,3057.0,3057.0,3054.0,3054.0,1.0,6250.0,6249.0,SHFE.rb2512,60

In [10]:
def aggregate_k_lines(df, date_col='datetime'):
    """
    将分钟行情数据按照夜盘21:00到次日15:00聚合成K线
    """
    # 确保date列是datetime类型
    df = df.copy()
    df.sort_values(date_col, inplace=True)
    df[date_col] = pd.to_datetime(df[date_col])

    # 创建交易日标识
    # 如果时间在21:00-23:59，属于次日交易日
    # 如果时间在00:00-15:00，属于当日交易日
    def get_trading_day(dt):
        if dt.hour >= 21:  # 夜盘时间，属于次日
            return dt.date() + pd.Timedelta(days=1)
        else:  # 白天时间，属于当日
            return dt.date()
    df['trading_day'] = df[date_col].apply(get_trading_day)
    return df

def aggregate_group(group):
    return pd.Series({
        'open': group['open'].iloc[0],
        'high': group['high'].max(),
        'low': group['low'].min(),
        'close': group['close'].iloc[-1],
        'volume': group['volume'].sum(),
        'amount': group.get('amount', group['volume'] * group['close']).sum(),
        'start_time': group['datetime'].iloc[0],
        'end_time': group['datetime'].iloc[-1],
        'bar_count': len(group)
    })

In [20]:
aggregate_k_lines(df).groupby('trading_day').apply(aggregate_group, include_groups=False).reset_index()

,trading_day,open,high,low,close,volume,amount,start_time,end_time,bar_count
0,2025-09-09,3112.0,3123.0,3093.0,3099.0,1051.0,3266559.0,2025-09-08 21:00:00,2025-09-09 14:59:00,345
1,2025-09-10,3092.0,3102.0,3077.0,3090.0,1335.0,4124307.0,2025-09-09 21:00:00,2025-09-10 14:59:00,345
2,2025-09-11,3090.0,3096.0,3068.0,3074.0,1004.0,3094458.0,2025-09-10 21:00:00,2025-09-11 14:59:00,345
3,2025-09-12,3071.0,3114.0,3061.0,3106.0,2427.0,7498121.0,2025-09-11 21:00:00,2025-09-12 14:59:00,345
4,2025-09-13,3112.0,3112.0,3094.0,3094.0,374.0,1159935.0,2025-09-12 21:00:00,2025-09-12 22:59:00,120
5,2025-09-15,3094.0,3116.0,3088.0,3111.0,1189.0,3689754.0,2025-09-15 09:00:00,2025-09-15 14:59:00,225
6,2025-09-16,3116.0,3149.0,3116.0,3142.0,3470.0,10880281.0,2025-09-15 21:00:00,2025-09-16 14:59:00,345
7,2025-09-17,3143.0,3148.0,3119.0,3146.0,2122.0,6649023.0,2025-09-16 21:00:00,2025-09-17 14:59:00,345
8,2025-09-18,3146.0,3154.0,3108.0,3126.0,2832.0,8869428.0,2025-09-17 21:00:00,2025-09-18 14:59:00,345
9,2025-09-19,3126.0,3150.0,3122.0,3147.0,2069.0,6495023.0,2025-09-18 21:00:00,2025-09-19 14:59:00,345
10,2025-09-20,3151.0,3166.0,3151.0,3162.0,1363.0,4307818.0,2025-09-19 21:00:00,2025-09-19 22:59:00,120
11,2025-09-22,3164.0,3175.0,3149.0,3160.0,1379.0,4359840.0,2025-09-22 09:00:00,2025-09-22 14:59:00,225
12,2025-09-23,3145.0,3157.0,3127.0,3133.0,2011.0,6315475.0,2025-09-22 21:00:00,2025-09-23 14:59:00,345
13,2025-09-24,3131.0,3158.0,3120.0,3144.0,1547.0,4852935.0,2025-09-23 21:00:00,2025-09-24 14:59:00,345
14,2025-09-25,3148.0,3152.0,3134.0,3149.0,1402.0,4408047.0,2025-09-24 21:00:00,2025-09-25 14:59:00,345
15,2025-09-26,3146.0,3146.0,3097.0,3097.0,1713.0,5346622.0,2025-09-25 21:00:00,2025-09-26 14:59:00,345
16,2025-09-27,3093.0,3101.0,3083.0,3083.0,547.0,1692597.0,2025-09-26 21:00:00,2025-09-26 22:59:00,120
17,2025-09-29,3080.0,3098.0,3080.0,3084.0,1710.0,5284272.0,2025-09-29 09:00:00,2025-09-29 14:59:00,225
18,2025-09-30,3087.0,3097.0,3051.0,3057.0,3293.0,10124632.0,2025-09-29 21:00:00,2025-09-30 14:59:00,345
19,2025-10-09,3062.0,3081.0,3058.0,3075.0,2726.0,8371211.0,2025-10-09 09:00:00,2025-10-09 14:59:00,225
20,2025-10-10,3090.0,3105.0,3076.0,3082.0,1354.0,4184273.0,2025-10-09 21:00:00,2025-10-10 14:59:00,345
21,2025-10-11,3092.0,3095.0,3082.0,3086.0,375.0,1157325.0,2025-10-10 21:00:00,2025-10-10 22:59:00,120
22,2025-10-13,3075.0,3076.0,3053.0,3069.0,1428.0,4374092.0,2025-10-13 09:00:00,2025-10-13 14:59:00,225
23,2025-10-14,3069.0,3071.0,3025.0,3044.0,1111.0,3380843.0,2025-10-13 21:00:00,2025-10-14 14:59:00,345
24,2025-10-15,3040.0,3046.0,3014.0,3015.0,492.0,1491389.0,2025-10-14 21:00:00,2025-10-15 14:59:00,345
25,2025-10-16,3021.0,3037.0,3004.0,3033.0,1189.0,3588329.0,2025-10-15 21:00:00,2025-10-16 14:59:00,345
26,2025-10-17,3038.0,3047.0,3017.0,3022.0,727.0,2205204.0,2025-10-16 21:00:00,2025-10-17 14:59:00,345
27,2025-10-18,3021.0,3061.0,3021.0,3044.0,594.0,1811456.0,2025-10-17 21:00:00,2025-10-17 22:59:00,120
28,2025-10-20,3044.0,3059.0,3027.0,3029.0,835.0,2536199.0,2025-10-20 09:00:00,2025-10-20 14:59:00,225
29,2025-10-21,3015.0,3053.0,3015.0,3036.0,407.0,1235915.0,2025-10-20 21:00:00,2025-10-21 14:59:00,345
30,2025-10-22,3036.0,3056.0,3034.0,3052.0,846.0,2573945.0,2025-10-21 21:00:00,2025-10-22 14:59:00,345
31,2025-10-23,3055.0,3066.0,3045.0,3056.0,611.0,1867510.0,2025-10-22 21:00:00,2025-10-23 14:59:00,345
32,2025-10-24,3061.0,3061.0,3024.0,3031.0,894.0,2716505.0,2025-10-23 21:00:00,2025-10-24 14:59:00,345
33,2025-10-25,3031.0,3066.0,3031.0,3054.0,323.0,987859.0,2025-10-24 21:00:00,2025-10-24 22:59:00,120

In [1]:
from tianqin_backtrader import MyStore

在使用天勤量化之前，默认您已经知晓并同意以下免责条款，如果不同意请立即停止使用：https://www.shinnytech.com/blog/disclaimer/

In [2]:
s = MyStore('x6504368', 'q6504368')

天勤量化连接中......
2025-10-26 20:21:05 -     INFO - 通知 x6504368: 与 wss://otg-sim.shinnytech.com/trade 的网络连接已建立
2025-10-26 20:21:05 -     INFO - 通知 : 与 wss://free-api.shinnytech.com/t/nfmd/front/mobile 的网络连接已建立
2025-10-26 20:21:05 -     INFO - 通知 x6504368: 登录成功
天勤连接成功......

In [3]:
s.get_daily_data('SHFE.cu2511', 20)

{'trading_day': datetime.date(2025, 9, 17), 'open': 80890.0, 'high': 81000.0, 'low': 80350.0, 'close': 80560.0, 'volume': 40603.0, 'amount': 3272294740.0, 'start_time': Timestamp('2025-09-17 00:50:00'), 'end_time': Timestamp('2025-09-17 14:59:00'), 'bar_count': 235, 'datetime': 739511.6243055556}
{'trading_day': datetime.date(2025, 9, 18), 'open': 79980.0, 'high': 80030.0, 'low': 79430.0, 'close': 79580.0, 'volume': 89310.0, 'amount': 7126145780.0, 'start_time': Timestamp('2025-09-17 21:00:00'), 'end_time': Timestamp('2025-09-18 14:59:00'), 'bar_count': 465, 'datetime': 739512.6243055556}
{'trading_day': datetime.date(2025, 9, 19), 'open': 79680.0, 'high': 80080.0, 'low': 79510.0, 'close': 79850.0, 'volume': 54113.0, 'amount': 4319523660.0, 'start_time': Timestamp('2025-09-18 21:00:00'), 'end_time': Timestamp('2025-09-19 14:59:00'), 'bar_count': 465, 'datetime': 739513.6243055556}
{'trading_day': datetime.date(2025, 9, 20), 'open': 79950.0, 'high': 80190.0, 'low': 79910.0, 'close': 80080.0, 'volume': 20420.0, 'amount': 1634623150.0, 'start_time': Timestamp('2025-09-19 21:00:00'), 'end_time': Timestamp('2025-09-20 00:59:00'), 'bar_count': 240, 'datetime': 739514.0409722222}
{'trading_day': datetime.date(2025, 9, 22), 'open': 80210.0, 'high': 80350.0, 'low': 80000.0, 'close': 80160.0, 'volume': 42980.0, 'amount': 3445290640.0, 'start_time': Timestamp('2025-09-22 09:00:00'), 'end_time': Timestamp('2025-09-22 14:59:00'), 'bar_count': 225, 'datetime': 739516.6243055556}
{'trading_day': datetime.date(2025, 9, 23), 'open': 80080.0, 'high': 80200.0, 'low': 79820.0, 'close': 79920.0, 'volume': 63199.0, 'amount': 5052399440.0, 'start_time': Timestamp('2025-09-22 21:00:00'), 'end_time': Timestamp('2025-09-23 14:59:00'), 'bar_count': 465, 'datetime': 739517.6243055556}
{'trading_day': datetime.date(2025, 9, 24), 'open': 79980.0, 'high': 80130.0, 'low': 79860.0, 'close': 79960.0, 'volume': 51727.0, 'amount': 4137757660.0, 'start_time': Timestamp('2025-09-23 21:00:00'), 'end_time': Timestamp('2025-09-24 14:59:00'), 'bar_count': 465, 'datetime': 739518.6243055556}
{'trading_day': datetime.date(2025, 9, 25), 'open': 81000.0, 'high': 82980.0, 'low': 80750.0, 'close': 82710.0, 'volume': 334893.0, 'amount': 27516818630.0, 'start_time': Timestamp('2025-09-24 21:00:00'), 'end_time': Timestamp('2025-09-25 14:59:00'), 'bar_count': 465, 'datetime': 739519.6243055556}
{'trading_day': datetime.date(2025, 9, 26), 'open': 82290.0, 'high': 83090.0, 'low': 82260.0, 'close': 82470.0, 'volume': 174625.0, 'amount': 14415110430.0, 'start_time': Timestamp('2025-09-25 21:00:00'), 'end_time': Timestamp('2025-09-26 14:59:00'), 'bar_count': 465, 'datetime': 739520.6243055556}
{'trading_day': datetime.date(2025, 9, 27), 'open': 82270.0, 'high': 82270.0, 'low': 81640.0, 'close': 81890.0, 'volume': 71589.0, 'amount': 5862510030.0, 'start_time': Timestamp('2025-09-26 21:00:00'), 'end_time': Timestamp('2025-09-27 00:59:00'), 'bar_count': 240, 'datetime': 739521.0409722222}
{'trading_day': datetime.date(2025, 9, 29), 'open': 82000.0, 'high': 82450.0, 'low': 82000.0, 'close': 82370.0, 'volume': 66871.0, 'amount': 5502076590.0, 'start_time': Timestamp('2025-09-29 09:00:00'), 'end_time': Timestamp('2025-09-29 14:59:00'), 'bar_count': 225, 'datetime': 739523.6243055556}
{'trading_day': datetime.date(2025, 9, 30), 'open': 82400.0, 'high': 83820.0, 'low': 82380.0, 'close': 83110.0, 'volume': 156069.0, 'amount': 12995282150.0, 'start_time': Timestamp('2025-09-29 21:00:00'), 'end_time': Timestamp('2025-09-30 14:59:00'), 'bar_count': 465, 'datetime': 739524.6243055556}
{'trading_day': datetime.date(2025, 10, 9), 'open': 84610.0, 'high': 87000.0, 'low': 84610.0, 'close': 86750.0, 'volume': 137816.0, 'amount': 11842270090.0, 'start_time': Timestamp('2025-10-09 09:00:00'), 'end_time': Timestamp('2025-10-09 14:59:00'), 'bar_count': 225, 'datetime': 739533.6243055556}
{'trading_day': datetime.date(2025, 10, 10), 'open': 87400.0, 'high': 88090.0, 'low': 85720.0, 'close': 85910.0, 'volume': 212468.0, 'amount': 18466018160.0, 'start_time': Timestamp('2025-10-09 21:00:00'), 'end_time': Timestamp('2025-10-10 14:59:00'), 'bar_count': 465, 'datetime': 739534.6243055556}
{'trading_day': datetime.date(2025, 10, 11), 'open': 86600.0, 'high': 86780.0, 'low': 82630.0, 'close': 83030.0, 'volume': 176498.0, 'amount': 14955917190.0, 'start_time': Timestamp('2025-10-10 21:00:00'), 'end_time': Timestamp('2025-10-11 00:59:00'), 'bar_count': 240, 'datetime': 739535.0409722222}
{'trading_day': datetime.date(2025, 10, 13), 'open': 85000.0, 'high': 85420.0, 'low': 84440.0, 'close': 85120.0, 'volume': 114924.0, 'amount': 9758110000.0, 'start_time': Timestamp('2025-10-13 09:00:00'), 'end_time': Timestamp('2025-10-13 14:59:00'), 'bar_count': 225, 'datetime': 739537.6243055556}
{'trading_day': datetime.date(2025, 10, 14), 'open': 85800.0, 'high': 86790.0, 'low': 84070.0, 'close': 84410.0, 'volume': 210984.0, 'amount': 18085058980.0, 'start_time': Timestamp('2025-10-13 21:00:00'), 'end_time': Timestamp('2025-10-14 14:59:00'), 'bar_count': 465, 'datetime': 739538.6243055556}
{'trading_day': datetime.date(2025, 10, 15), 'open': 84180.0, 'high': 85990.0, 'low': 83820.0, 'close': 85800.0, 'volume': 125819.0, 'amount': 10690862350.0, 'start_time': Timestamp('2025-10-14 21:00:00'), 'end_time': Timestamp('2025-10-15 14:59:00'), 'bar_count': 465, 'datetime': 739539.6243055556}
{'trading_day': datetime.date(2025, 10, 16), 'open': 85240.0, 'high': 85410.0, 'low': 84430.0, 'close': 85050.0, 'volume': 97535.0, 'amount': 8293927430.0, 'start_time': Timestamp('2025-10-15 21:00:00'), 'end_time': Timestamp('2025-10-16 14:59:00'), 'bar_count': 465, 'datetime': 739540.6243055556}
{'trading_day': datetime.date(2025, 10, 17), 'open': 84450.0, 'high': 85400.0, 'low': 84220.0, 'close': 84390.0, 'volume': 80492.0, 'amount': 6819452580.0, 'start_time': Timestamp('2025-10-16 21:00:00'), 'end_time': Timestamp('2025-10-17 14:59:00'), 'bar_count': 465, 'datetime': 739541.6243055556}
{'trading_day': datetime.date(2025, 10, 18), 'open': 84590.0, 'high': 85210.0, 'low': 84450.0, 'close': 84840.0, 'volume': 22337.0, 'amount': 1895480490.0, 'start_time': Timestamp('2025-10-17 21:00:00'), 'end_time': Timestamp('2025-10-18 00:59:00'), 'bar_count': 240, 'datetime': 739542.0409722222}
{'trading_day': datetime.date(2025, 10, 20), 'open': 85000.0, 'high': 85950.0, 'low': 84820.0, 'close': 85380.0, 'volume': 46159.0, 'amount': 3947568100.0, 'start_time': Timestamp('2025-10-20 09:00:00'), 'end_time': Timestamp('2025-10-20 14:59:00'), 'bar_count': 225, 'datetime': 739544.6243055556}
{'trading_day': datetime.date(2025, 10, 21), 'open': 85280.0, 'high': 85840.0, 'low': 85190.0, 'close': 85380.0, 'volume': 43099.0, 'amount': 3685771580.0, 'start_time': Timestamp('2025-10-20 21:00:00'), 'end_time': Timestamp('2025-10-21 14:59:00'), 'bar_count': 465, 'datetime': 739545.6243055556}
{'trading_day': datetime.date(2025, 10, 22), 'open': 85120.0, 'high': 85380.0, 'low': 84520.0, 'close': 85380.0, 'volume': 44986.0, 'amount': 3822810480.0, 'start_time': Timestamp('2025-10-21 21:00:00'), 'end_time': Timestamp('2025-10-22 14:59:00'), 'bar_count': 465, 'datetime': 739546.6243055556}
{'trading_day': datetime.date(2025, 10, 23), 'open': 85190.0, 'high': 86200.0, 'low': 85080.0, 'close': 86030.0, 'volume': 37804.0, 'amount': 3234307860.0, 'start_time': Timestamp('2025-10-22 21:00:00'), 'end_time': Timestamp('2025-10-23 14:59:00'), 'bar_count': 465, 'datetime': 739547.6243055556}
{'trading_day': datetime.date(2025, 10, 24), 'open': 86360.0, 'high': 87800.0, 'low': 86200.0, 'close': 87700.0, 'volume': 52582.0, 'amount': 4563515050.0, 'start_time': Timestamp('2025-10-23 21:00:00'), 'end_time': Timestamp('2025-10-24 14:59:00'), 'bar_count': 465, 'datetime': 739548.6243055556}
{'trading_day': datetime.date(2025, 10, 25), 'open': 87140.0, 'high': 87880.0, 'low': 86900.0, 'close': 87580.0, 'volume': 17560.0, 'amount': 1534866590.0, 'start_time': Timestamp('2025-10-24 21:00:00'), 'end_time': Timestamp('2025-10-25 00:59:00'), 'bar_count': 240, 'datetime': 739549.0409722222}