In [1]:
from tqsdk import TqApi, TqSim, TqAuth, TqKq
import datetime
import time
tianqin = TqApi(TqKq(), auth=TqAuth('x6504368', 'x6504368'))

在使用天勤量化之前，默认您已经知晓并同意以下免责条款，如果不同意请立即停止使用：https://www.shinnytech.com/blog/disclaimer/

2025-10-25 09:52:50 -     INFO - 通知 : 与 wss://free-api.shinnytech.com/t/nfmd/front/mobile 的网络连接已建立
2025-10-25 09:52:50 -     INFO - 通知 x6504368: 与 wss://otg-sim.shinnytech.com/trade 的网络连接已建立
2025-10-25 09:52:50 -     INFO - 通知 x6504368: 登录成功

In [2]:
def trans_time(ts):
    try:
        from datetime import datetime
        timestamp_s = ts / 1e9
        dt_object = datetime.fromtimestamp(timestamp_s)
        formatted_time = dt_object.strftime("%Y-%m-%d %H:%M:%S")
        return formatted_time
    except:
        return ts

data = tianqin.get_kline_serial('SHFE.rb2512', duration_seconds=60, data_length=10000)
df = data.copy()
df['datetime'] = df['datetime'].apply(trans_time)
df

,datetime,id,open,high,low,close,volume,open_oi,close_oi,symbol,duration
0,2025-09-05 21:05:00,60455.0,3123.0,3123.0,3117.0,3117.0,2.0,7152.0,7150.0,SHFE.rb2512,60
1,2025-09-05 21:06:00,60456.0,3117.0,3117.0,3117.0,3117.0,1.0,7150.0,7150.0,SHFE.rb2512,60
2,2025-09-05 21:07:00,60457.0,3117.0,3117.0,3117.0,3117.0,0.0,7150.0,7150.0,SHFE.rb2512,60
3,2025-09-05 21:08:00,60458.0,3117.0,3117.0,3117.0,3117.0,0.0,7150.0,7150.0,SHFE.rb2512,60
4,2025-09-05 21:09:00,60459.0,3117.0,3120.0,3117.0,3117.0,3.0,7150.0,7149.0,SHFE.rb2512,60
...,...,...,...,...,...,...,...,...,...,...,...
9995,2025-10-24 22:55:00,70450.0,3056.0,3057.0,3056.0,3057.0,2.0,6252.0,6251.0,SHFE.rb2512,60
9996,2025-10-24 22:56:00,70451.0,3057.0,3057.0,3056.0,3056.0,1.0,6251.0,6251.0,SHFE.rb2512,60
9997,2025-10-24 22:57:00,70452.0,3056.0,3056.0,3056.0,3056.0,0.0,6251.0,6251.0,SHFE.rb2512,60
9998,2025-10-24 22:58:00,70453.0,3056.0,3057.0,3056.0,3057.0,1.0,6251.0,6250.0,SHFE.rb2512,60
9999,2025-10-24 22:59:00,70454.0,3057.0,3057.0,3054.0,3054.0,1.0,6250.0,6249.0,SHFE.rb2512,60

In [10]:
k = df.iloc[0].to_dict()
k

{'datetime': '2025-09-05 21:05:00',
 'id': 60455.0,
 'open': 3123.0,
 'high': 3123.0,
 'low': 3117.0,
 'close': 3117.0,
 'volume': 2.0,
 'open_oi': 7152.0,
 'close_oi': 7150.0,
 'symbol': 'SHFE.rb2512',
 'duration': 60}

In [11]:
k['datetime'] = datetime.datetime.strptime(k['datetime'], '%Y-%m-%d %H:%M:%S')
k

{'datetime': datetime.datetime(2025, 9, 5, 21, 5),
 'id': 60455.0,
 'open': 3123.0,
 'high': 3123.0,
 'low': 3117.0,
 'close': 3117.0,
 'volume': 2.0,
 'open_oi': 7152.0,
 'close_oi': 7150.0,
 'symbol': 'SHFE.rb2512',
 'duration': 60}

In [7]:
datetime.datetime.strptime(df['datetime'].iloc[-1], '%Y-%m-%d %H:%M:%S')

datetime.datetime(2025, 10, 24, 22, 59)

In [3]:
tick = tianqin.get_quote('SHFE.rb2512')
datetime.datetime.strptime(tick['datetime'].split('.')[0], '%Y-%m-%d %H:%M:%S')

datetime.datetime(2025, 10, 24, 22, 59, 59)

In [3]:
tianqin.close()

In [3]:
def trans_time(ts):
    try:
        from datetime import datetime
        timestamp_s = ts / 1e9
        dt_object = datetime.fromtimestamp(timestamp_s)
        formatted_time = dt_object.strftime("%Y-%m-%d %H:%M:%S")
        return formatted_time
    except:
        return ts

In [ ]:
from tianqin_backtrader import MyStore, MyBroker

In [12]:
from backtrader.utils.py3 import queue

In [15]:
q = queue.Queue()
for i in range(10):
    q.put(i)

In [42]:
from tianqin_backtrader import MyStore

In [43]:
store = MyStore(key='x6504368', value='x6504368')
# 订阅合约（示例：上期所铜主力，请按需修改）
data = store.getdata(instrument='SHFE.cu2512', lookback=True)

天勤量化连接中......
2025-10-25 18:44:09 -     INFO - 通知 x6504368: 与 wss://otg-sim.shinnytech.com/trade 的网络连接已建立
2025-10-25 18:44:09 -     INFO - 通知 : 与 wss://free-api.shinnytech.com/t/nfmd/front/mobile 的网络连接已建立
2025-10-25 18:44:09 -     INFO - 通知 x6504368: 登录成功
天勤连接成功......

In [48]:
data = store.tianqin.get_kline_serial("SHFE.cu2512", 60, 10000)
def trans_time(ts):
    try:
        from datetime import datetime
        timestamp_s = ts / 1e9
        dt_object = datetime.fromtimestamp(timestamp_s)
        formatted_time = dt_object.strftime("%Y-%m-%d %H:%M:%S")
        return formatted_time
    except:
        return ts
df = data.copy().sort_values("datetime")
df['datetime'] = df['datetime'].apply(trans_time)

In [ ]:
df[df['datetime']]

,datetime,id,open,high,low,close,volume,open_oi,close_oi,symbol,duration
0,2025-09-17 00:50:00,84175.0,80900.0,80910.0,80890.0,80900.0,17.0,88157.0,88162.0,SHFE.cu2512,60
1,2025-09-17 00:51:00,84176.0,80900.0,80910.0,80900.0,80910.0,4.0,88162.0,88162.0,SHFE.cu2512,60
2,2025-09-17 00:52:00,84177.0,80910.0,80910.0,80900.0,80900.0,3.0,88162.0,88161.0,SHFE.cu2512,60
3,2025-09-17 00:53:00,84178.0,80900.0,80910.0,80900.0,80910.0,11.0,88161.0,88160.0,SHFE.cu2512,60
4,2025-09-17 00:54:00,84179.0,80910.0,80920.0,80910.0,80920.0,5.0,88160.0,88160.0,SHFE.cu2512,60
...,...,...,...,...,...,...,...,...,...,...,...
9995,2025-10-25 00:55:00,94170.0,87660.0,87680.0,87650.0,87680.0,163.0,280572.0,280518.0,SHFE.cu2512,60
9996,2025-10-25 00:56:00,94171.0,87680.0,87690.0,87650.0,87690.0,147.0,280518.0,280498.0,SHFE.cu2512,60
9997,2025-10-25 00:57:00,94172.0,87690.0,87690.0,87660.0,87670.0,166.0,280498.0,280427.0,SHFE.cu2512,60
9998,2025-10-25 00:58:00,94173.0,87670.0,87680.0,87650.0,87660.0,182.0,280427.0,280298.0,SHFE.cu2512,60
9999,2025-10-25 00:59:00,94174.0,87660.0,87680.0,87650.0,87660.0,418.0,280298.0,280028.0,SHFE.cu2512,60